.MovieTitle {
  background-color: #e9c46a;
  border-radius: 3px;
  padding: 10px;
  list-style: none;
  width: fit-content;
  transition: 250ms;
}

.MovieTitle:hover {
  box-shadow: 0px 0px 24px 0px #2a9d8f;
}

.MovieTitle:hover .MovieLink {
  color: #2a9d8f;
}

.MovieLink {
  text-decoration: none;
  color: #264653;
  transition: 250ms;
}
