.MovieTitle {
  background-color: #e9c46a;
  border-radius: 3px;
  padding: 10px;
  list-style: none;
  width: fit-content;
}

.MovieLink {
  text-decoration: none;
  color: #264653;
}

.MovieLink:hover {
  color: #2a9d8f;
}
