.Title {
  color: #264653;
  margin: 10px;
}

.MovieList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  justify-content: center;
}

.Container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 1000px;
}
