.Navigation {
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  padding: 20px;
  margin: 10px;
  font-weight: 900;
  background-color: rgba(17, 17, 61, 0.123);
}

.NavButton {
  margin: 10px;
  padding: 5px;
  background-color: rgb(22, 44, 51);
  border-radius: 5px;
  -webkit-box-shadow: 8px 8px 24px 0px rgb(100, 103, 134);
  -moz-box-shadow: 8px 8px 24px 0px rgb(116, 119, 153);
  box-shadow: 8px 8px 24px 0px rgb(109, 112, 150);
  text-decoration: none;
}

.NavButton:hover {
  -webkit-box-shadow: 4px 4px 12px 4px rgba(255, 181, 0, 1);
  -moz-box-shadow: 4px 4px 12px 4px rgba(255, 181, 0, 1);
  box-shadow: 4px 4px 12px 4px rgba(255, 181, 0, 1);
}
