.Navigation {
  padding: 20px;
  margin: 10px;
  font-weight: 900;
  background-color: #2a9d8f;
  border-radius: 3px;
  max-width: 1000px;
}

.NavButton {
  margin: 10px;
  padding: 5px;
  background-color: #264653;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms;
}

.NavButton:hover {
  box-shadow: 4px 4px 3px 1px #f4a261;
}
